* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
  /* background-color:#94aac4; */
}



/* header */
.header {
  width: 100%
}

#root {
  margin: 0px;
}

.navbar-container {
  padding: 40px;
  background: #94aac4;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-left {
  width: 45vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  color:#f5f5f5
}

.nav-menu {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  font-size: 17px;
  color: #445142;
}

.header-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login {
  margin-right: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  background: #f5f5f5;
  color: #445142;
  transition: all 0.3s ease;
}

button:hover {
  cursor: pointer;
}

/* Homepage */
.homepage-image {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.homepage-image img{
  height: 200px;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.homepage-partners {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.logo-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo-container img{
  height: 80px;
  margin: 20px;
}

/* Sign up pages */
.sign-up-instructions-contianer {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh
}

.sign-up-header {
  margin-top: 50px;
  color: #445142;
}

.sign-up-choice-btn {
  border: none;
  outline: none;
  border-radius: 20px;
  background: #94aac4;
  color: #f5f5f5;
  font-size: 25px;
  height: 10vh;
  width: 30vw;
}

/* Profile pages */
.greeting-box{
  width: fit-content;
  margin: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  color: #94aac4;
  background-color: #fafafa;
}

.profile-container, .events-container, .RecruitersMatchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-content {
  width: auto;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  /* background-color: #94aac4; */
  color: #f5f5f5;
}

.ProfileSkills {
  padding: 20px 0;
}

.events-content {
  width: auto;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #94aac4;
  color: #f5f5f5;
}

.user-details{
  width: 50%;
  margin: 20px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  /* justify-content: center; */
  background-color: #94aac4;
  color: #f5f5f5;
  flex-direction: column;
}

.details-container {
  padding: 20px 0;
}

.skills-container{
  width: 50%;
  margin: 20px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  background-color: #94aac4;
  color: #f5f5f5;
}

.user-details-text-box, .skills-details-box, .event-item-details {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.user-details-text-box h4, .skills-details-box h4{
  margin: 5px;
}

.user-details-text-box p, .skills-details-box p{
  margin-left: 10px;
  margin-top: 5px;
}

.edit-profile {
  width: 50%;
}

.skills-container{
  display: flex;
  flex-direction: column;
}

.skills-details-box {
  display: flex;
  justify-content: center;
}

.skills-details-box button{
  width: 10%;
  margin-left: 15px;
}

.add-skill {
  margin-top: 20px;
}

/* Event Page */

.event-list {
  display: flex;
  flex-direction: column;
}

.event-item-container{
  margin: 10px;
  border: 2px medium black;
}

.event-item-details {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.event-item-details p{
  margin-left: 10px;
}

.event-buttons{
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: center;
}

.event-buttons button, button.add-event{
  width: 50%;
  display: flex;
  justify-content: center;
}

/* Match pages */
.match-page-container {
  /* margin-top: 5vh; */
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.JobSeekersMatchSidebar {
  padding: 2vw;
  width:25%;
  overflow: scroll;

}

.match-event-list {
  padding:50px;
  width:70vw;
  list-style-type: none;
  /* float:right; */

}

.side-bar-logo {
  width: 5vw
}

ul {
  list-style-type: none;
}

.job-seekers-side-bar-item {
  /* margin-top: 13px; */
  padding: 15px;
  /* border: 2px dashed grey; */
  background: #94aac4;
  margin-bottom: 4px;
  border-radius: 10px;
  color: #f5f5f5;
}

.event-photo {
  width: 20vw;
  height: 35vh;
  object-fit:cover;
  /* border-radius: 10px; */
}

.job-seekers-match-event-item {
  /* padding:1px;  */
  /* height: 30vh; */
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  align-items: center;
  /* border: 2px dashed grey; */
  background: #94aac4;
  margin-bottom: 4px;
  /* border-radius: 10px; */
  margin-bottom: 10px;
}

.event-detail-contianer {
  text-align: left;
  margin-left: 50px;
  color: #f5f5f5;
}

.RecruitersMatchContainer {
  padding: 40px;
}

.recruiters-match-seeker-h2 {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 1vh;
  width: 100%;
  text-align: left;
  color: #94aac4;
  text-align: center;
}

.recruiter-match-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  /* padding-left: 30px; */
}

.recruiter-match-item {
  height: 100%;
  width: 80%;
  padding: 20px 30px; 
  display: flex;
  justify-content: left;
  align-items: center;
  background: #94aac4;
  margin: 10px auto;
  border-radius: 10px;
}

.recruiters-match-seeker-h2 p {
  font-size: 20px;
}

.matching-job-seeker-photo {
  width: 70%;
}

.matching-job-seeker-info {
  margin: 10px;
  color: #f5f5f5;
  text-align: center;
}

.event-name {
  margin-bottom: 20px;
  font-size: 30px;
}

.filter {
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-bar {
  float: left;
  padding:7px;
  width: 100%;
  height:5vh;
  border-radius: 10px;
  font-size: 17px;
  border: 2px dashed grey;
}

.all-event-button {
  background: #94aac4;
  width: 18vw;
  border-radius: 10px;
  height:5vh;
  margin-left: 5vw;
}


.add-event-js {
  width: 50%;
}

.save-change-btn {
  height:40px;
  margin-top: 15px;
}

.job-seekers-side-bar-item-skills {
  margin-top:5px
}

#matching-job-seeker-p {
  margin-bottom: 8px;
}

.moible-nav-icon {
  display: none;
}


.sidebar-container {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #94aac4;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  top:0;
}

.sidebar-close-icon {
  text-align: center;
}

.sidebar-menu {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,80px);
  text-align: center;
}

.sidebar-logout-wrap {
  display:flex;
  justify-content: center;
}

footer {
  background: #94aac4;
  height: auto;
  margin-top: 30px;
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 5x;
  color: #fff;

}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-content p {
  margin-top: 20px;
}

/* Responsive screen at ipad size */
@media screen and (max-width: 768px) {
  .moible-nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .nav-menu, .logout-btn{
    display: none;
  }

  .sidebar-menu {
    grid-template-rows: repeat(3,60px);
  }

  button {
    width: 100%;
    font-size: 12px;
    padding: 8px
  }

  .logo {
    font-size: 1.2rem;
  }

  .navbar-container {
    padding: 20px;
  }
}

/* Responsive screen at iphone 5 size */
@media screen and (max-width: 414px) {
  .moible-nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .nav-menu, .logout-btn{
    display: none;
  }

  .sidebar-menu {
    grid-template-rows: repeat(3,60px);
  }

  button {
    width: 100%;
    font-size: 12px;
    padding: 8px
  }

  .logo {
    font-size: 1.2rem;
  }

  .navbar-container {
    padding: 20px;
  }

  .profile-content {
    flex-direction: column;
    margin: 20px;
  }

  .profile-container {
    display: flex;
    justify-content: center;
  }

  .skills-container, .user-details {
    width: 100%;
    margin: 20px 0;
  }

  .RecruitersMatchContainer {
    padding: 10px;
  }

  .recruiters-match-seeker-h2 p {
    font-size: 14px;
  }

  .recruiter-match-item {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #94aac4;
    margin: 5px auto;
    border-radius: 10px;
    padding: 10px 20px;
  }

  .matching-job-seeker-photo {
    width: 40%;
  }
}